---
const { translations } = Astro.props;

function calcularEdad(fechaNacimiento) {
    const fechaActual = new Date();

    let edad = fechaActual.getFullYear() - fechaNacimiento.getFullYear();
    const mes = fechaActual.getMonth();
    const dia = fechaActual.getDate();

    if (mes < fechaNacimiento.getMonth() || (mes === fechaNacimiento.getMonth() && dia < fechaNacimiento.getDate())) {
        edad--;
    }
    return edad;
}

const fechaNacimiento = new Date(2004, 0, 19);
const edad = calcularEdad(fechaNacimiento);
---

<article class="mx-auto flex-col-reverse gap-x-4 lg:flex-row flex lg:max-w-[60em] w-full px-4 py-8">
    <div class="ml-6 lg:max-w-[70%] max-w-[90%]">
        <p class="text-[--principal-text-color] text-lg">
            {translations.aboutMe.firstPart} {edad} {translations.aboutMe.postAge}
            <span class="text-[--accent] font-bold">
                {translations.aboutMe.firstSpan}
            </span>
            {translations.aboutMe.firstPartEnd}
        </p>
        <p class="mt-8 text-[--principal-text-color] text-lg">
            {translations.aboutMe.secondPart}
            <span class="text-[--accent] font-bold">
                {translations.aboutMe.secondSpan}
            </span>
            {translations.aboutMe.secondPartEnd}
        </p>
        <p class="mt-8 text-[--principal-text-color] text-lg">
            {translations.aboutMe.thirdPart}
            <span class="text-[--accent] font-bold">
                {translations.aboutMe.thirdSpan}
            </span>
            {translations.aboutMe.thirdPartEnd}
            <span class="text-[--accent] font-bold">
                {translations.aboutMe.spanEnd}
            </span>
        </p>
    </div>
    <div class="lg:max-w-[30%] max-w-[95%] mx-auto my-12 lg:mx-0 content-center justify-end">
        <img src="/img/me.webp" alt="Edu Nievas" loading="lazy" class="w-[95%] ml-2 h-auto rounded-full transition-all duration-500 hover:scale-105"/>
    </div>
</article>
