---
const { translations } = Astro.props;
---

<article class="ml-6 mx-auto block lg:flex lg:max-w-[60em] w-full px-4 py-8">
    <div class="w-full mb-10 lg:hidden ml-auto">
        <img src="/img/me.webp" alt="Edu Nievas" loading="lazy" class="w-[95%] md:w-[60%] ml-2 h-auto rounded-full transition-all duration-500 lg:hover:scale-105"/>
    </div>
    <div class="lg:max-w-[70%] max-w-[90%]">
        <p class="text-[--principal-text-color] text-lg">
            {translations.aboutMe.firstPart}
            <span class="text-[--accent] font-bold">
                {translations.aboutMe.firstSpan}
            </span>
            {translations.aboutMe.firstPartEnd}
        </p>
        <p class="mt-8 text-[--principal-text-color] text-lg">
            {translations.aboutMe.secondPart}
            <span class="text-[--accent] font-bold">
                {translations.aboutMe.secondSpan}
            </span>
            {translations.aboutMe.secondPartEnd}
        </p>
        <p class="mt-8 text-[--principal-text-color] text-lg">
            {translations.aboutMe.thirdPart}
            <span class="text-[--accent] font-bold">
                {translations.aboutMe.thirdSpan}
            </span>
            {translations.aboutMe.thirdPartEnd}
            <span class="text-[--accent] font-bold">
                {translations.aboutMe.spanEnd}
            </span>
        </p>
    </div>
    <div class="max-w-[30%] lg:block hidden content-center justify-end">
        <img src="/img/me.webp" alt="Edu Nievas" loading="lazy" class="w-[95%] ml-2 h-auto rounded-full transition-all duration-500 hover:scale-105"/>
    </div>
</article>
