---
import MoonIcon from "./MoonIcon.astro"
import SunIcon from "./SunIcon.astro";

const navElements = [
    {
        link: "proyectos",
        title: "Proyectos",
    },
    {
        link: "tecnologias",
        title: "Tecnologías",
    },
    {
        link: "sobre-mi",
        title: "Sobre mí",
    },
    {
        link: "experiencia",
        title: "Experiencia",
    },
    {
        link: "https://www.linkedin.com/in/edu-nievas-dris-6b6886335/",
        title: "Contacto",
        isContact: true,
    },
]
---
<style>
    .scrolled {
        background: var(--primary-low-opacity);
        backdrop-filter: blur(8px);
        transition: all 0.5s ease-in-out;
        border: 1px solid var(--navbar-border);
        max-width: 38em;
    }

    .scrolled a {
        padding: 0.5rem 1rem 0.5rem 1rem;
        transition: all 0.5s ease-in-out;
    }
    .not-scrolled {
        background: var(--primary);
        transition: all 0.5s ease-in-out;
    }
</style>
<nav id="scroll-nav" class="animate-slide-in-top z-[100] not-scrolled max-w-[45em] sticky top-2 mx-auto h-auto rounded-[1.3em] p-2 w-fit items-center">
    <div class="flex justify-evenly content-evenly place-content-evenly">
        {
            navElements.map((element) => {
                const target = element.isContact ? "_blank" : "_self";
                const rel = element.isContact ? "noopener noreferrer" : "";
                const href = element.isContact ? element.link : `#${element.link}`;

                return <a href={href} target={target} rel={rel} class="text-xs text-[--principal-text-color] pt-4 pb-4 pl-8 pr-8 font-bold rounded-xl hover:bg-[--secondary-low-opacity] transition-all duration-300">
                    {element.title}
                </a>
            })
        }

        <div class="flex justify-center items-center">
            <SunIcon id="sun-theme-icon" width="1.3em"/>
            <label class="switch ml-1 mr-1">
                <input id="theme-switch" type="checkbox" checked="checked">
                <span class="slider round"></span>
            </label>
            <MoonIcon id="moon-theme-icon" width="1.3em"/>
        </div>
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const themeSwitch = document.getElementById("theme-switch") as HTMLInputElement;

        const moonColorIcon = document.getElementById("moon-theme-icon");
        const lightColorIcon = document.getElementById("sun-theme-icon");

        themeSwitch?.addEventListener("change", () => {
            const body = document.body;
            if (themeSwitch.checked) {
                body.classList.remove("theme-light");
                body.classList.add("theme-dark");
                lightColorIcon?.setAttribute("stroke", "white");
                moonColorIcon?.setAttribute("stroke", "white");
            } else {
                body.classList.remove("theme-dark");
                body.classList.add("theme-light");
                lightColorIcon?.setAttribute("stroke", "black");
                moonColorIcon?.setAttribute("stroke", "black");
            }
        });

        const scrollNav = document.getElementById("scroll-nav");

        window.addEventListener("scroll", () => {
            if (window.scrollY > 100) {
                scrollNav?.classList.remove("not-scrolled");
                scrollNav?.classList.add("scrolled");
            } else {
                scrollNav?.classList.remove("scrolled");
                scrollNav?.classList.add("not-scrolled");
            }
        });
    });
</script>